<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
        .green{
            background-color: green;
        }
        .white{
            background-color: white;
        }
        .blue{
            background-color: blue;
        }
        .red{
            background-color: red;
        }
        .border {
            border: 1px solid black;
        }
        .div-principal {
            width: 200px;
            height: 200px;
        }
        .div-comum {
            width: 50px;
            height: 50px;
            display: inline-flex;
        }
        
    </style>
</head>
<body>
    <div id="app">
        <!-- v-if simples-->
        <button @click="exibirSaldo = !exibirSaldo"><!-- toggle -->
            <span v-if="!exibirSaldo">Exibir Saldo</span> 
            <span v-if="exibirSaldo">Ocultar Saldo</span> 
        </button>

        <p>Saldo: <span v-if="exibirSaldo">R$ {{saldo}}</span></p>
        <hr>

        <!-- v-if e v-else-->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()">
        <p v-if="idade > 18">Maior de Idade</p>
        <p v-else>Menor de Idade</p>
        <hr>

        <!-- v-if, v-else-if e v-else-->
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == '' ">Insira uma nota</p>
        <p v-else-if="nota >=7 && nota <= 10">Aluno Aprovado</p>
        <p v-else-if="nota >=5 && nota <7">Aluno em Recuperação</p>
        <p v-else-if="nota >=0 && nota <5">Aluno em Reprovado</p>
        <p v-else>A nota informada é invallida</p>
        <hr>

        <!-- v-html -->
        <div v-html="elementosHTML">Texto de <b>exemplo</b></div><br>
        <!-- v-text -->
        <div v-text="elementosHTML">Texto de exemplo</div>
        <hr>

        <!-- v-once-->
        <p v-once>Saldo Inicial: {{ saldo }}</p>
        <p>Saldo Atualizado: {{ saldo }}</p>
        <input type="text" id="valor" @blur="setNota()">
        <button @click="creditar()">Creditar</button>
        <button @click="debitar()">Debitar</button>
        <hr>

        <ul>
            <li v-for="curso in cursos">{{curso}}</li>
        </ul>
        <hr>

        <table border="5px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                </tr>            
            </thead>
            <tbody>
                <tr v-for="(curso, chave) in cursos2">
                    <td>{{chave}}</td>
                    <td>{{curso.titulo}}</td>
                    <td>{{curso.descricao}}</td>

                </tr>
            </tbody>
        </table>
        
    </div>

    <script>

        const vm = new Vue({
            el: '#app',
            data: {
                saldo: 4570.17,
                exibirSaldo:false,
                idade: 0,
                nota:0,
                elementosHTML: '<p><b>Site</b></p><a href="https://github.com/SabrinaRF/app_vue">Github</a>',
                cursos:[
                    'Laravel',
                    'Vue',
                    'php',
                    'angular',
                    'solid'
                ],
                cursos2:{
                    100:{
                        titulo:'Laravel',
                        descricao:'Laravell Laravell Laravell Laravell Laravell Laravell Laravell Laravell Laravell '
                    },
                    101:{
                        titulo:'PHP',
                        descricao:'PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP PHP'
                    }
                }
            },
            methods:{
                setIdade(){
                    this.idade = inputIdade.value;
                },
                setNota(){
                    this.nota = inputNota.value;
                },
                credentar(){
                    this.saldo+=parseFloat(valor.value);
                    alert("Crédito realizado com sucesso!");
                },
                debitar(){
                    this.saldo-=parseFloat(valor.value);
                    alert("Debito realizado com sucesso!");
                }
            }
        })

    </script>
</body>
</html>